--closingparen same-line
--commas inline
--disable redundantReturn,wrapMultilineStatementBraces
--exclude Examples
--guardelse same-line
--header "{file} - Copyright {year} SwifterSwift"
--ifdef no-indent
--importgrouping testable-top
--nospaceoperators ..<,...
--maxwidth 120
